<mat-card>
  <mat-card-title>Notification 通知</mat-card-title>
  <mat-card-content>

    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="title">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Message" [(ngModel)]="message">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Duration" [(ngModel)]="duration">
    </mat-form-field>

    <div class="m-20">
      <mat-radio-group [(ngModel)]="position">
        <mat-radio-button value="1">top right</mat-radio-button>
        <mat-radio-button value="2">top start</mat-radio-button>
        <mat-radio-button value="3">top center</mat-radio-button>
        <mat-radio-button value="4">top end</mat-radio-button>
        <mat-radio-button value="5">top left</mat-radio-button>
        <mat-radio-button value="6">bottom start</mat-radio-button>
        <mat-radio-button value="7">bottom center</mat-radio-button>
        <mat-radio-button value="8">bottom end</mat-radio-button>
        <mat-radio-button value="9">bottom left</mat-radio-button>
        <mat-radio-button value="10">bottom right</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="m-20">
      <mat-radio-group [(ngModel)]="type">
        <mat-radio-button value="info">info</mat-radio-button>
        <mat-radio-button value="success">success</mat-radio-button>
        <mat-radio-button value="warn">warn</mat-radio-button>
      </mat-radio-group>
    </div>

  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" (click)="show()">显示</button>
    <button mat-raised-button (click)="clear()">清除</button>
  </mat-card-actions>
</mat-card>

